.market-form {
    border-radius: 34px;
    padding: 3px;
    background-color: #342D55;
    color: white;
    min-width: 370px;
}
.market-form-input {
    background-color: #241F3E;
    border-radius: 34px;
    border:2px solid rgb(94, 94, 94);
}
.border-red {
    border-color: #f75a06;
    box-shadow: 0 2px 12px 0 #ef681f5b, 0 3px 12px 0 #e9ceb263;
}
.border-green {
    box-shadow: 0 2px 12px 0 #1f80ef5b, 0 3px 12px 0 #b2cce963;
    border-color: #1fbbef;
}
.text-gray-light {
    color:#ada0ff;
}
.market-form-input > div {
    width: 33.33%;
    margin: 4px 4px;
    padding: 7px 14px;
    border-radius: 34px;
    cursor: pointer;
}
.market-form-input > .active-red {
    background-color: #f75a06;    
}
.background-red {
    background-color: #f76618;
    border: 2px solid rgba(223, 223, 223, 0.784); 
    /* box-shadow: 0 2px 12px 0 #ef681f5b, 0 3px 12px 0 #e9ceb263; */
}
.only-border-red {    
    border: 1px solid #a06c508d;
}
.only-border-warning {    
    border: 1px solid #bb5438a5;
}
.only-border-green {
    border: 1px solid #1fbbef85;
}
.market-form-input > .active-green {
    background-color: #1fbbef;   
    /* box-shadow: 0 2px 12px 0 #1f80ef5b, 0 3px 12px 0 #b2cce963; */
}
.background-green {
    background-color: #1fbbef;
    border: 2px solid rgba(233, 243, 250, 0.879); 
}
.window {
    background-color: #342D55;
    border-radius: 7px;
}
.text-grey {
    color: rgb(94, 94, 94);
}
.text-pink-sharp {
    color: rgb(204, 204, 204);
}
.border-radius {
    border-radius: 34px;
}
.percent-item {
    background-color: #342D55;
    padding: 6px 12px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
@media only screen and (max-width: 500px) {
    .w-15 {
        width: 0;
    }
    .market-form {
        width: 100%;
        min-width: auto;
    }
}